@{
    ViewData["Title"] = "Ooops! Access Denied";
}

<section class="error-404">
    <div class="container">
        <div class="content">
            <h1>Ooops! Access Denied!</h1>
            <p>Unauthorized Access</p>
        </div>
        <div class="button-container">
            <nav>
                <a class="btn-theme-s" asp-controller="Default" asp-action="Home"><i class="fa-regular fa-home"></i>Go back to homepage</a>
            </nav>
        </div>
    </div>
</section>
